.nav {
  display: flex;
}
nav {
  background-color: black;
}
.Username {
  color: white;
  padding-left: 2rem;
}
.Link {
  margin: auto;
}
.flex {
  display: flex;
}
/* This is what makes it into a line */
.menu {
  display: inline-block;
  margin-right: 1%;
}

.landertext {
  margin: 0;
  color: white;
  padding-top: 10%;
  padding-bottom: 20%;
}
a {
  text-decoration: none;
  color: yellow;
}
.flexImage {
  display: inline-flex;
  flex-wrap: wrap;
}
.product {
  margin-bottom: 40%;
}
.productbtn {
  background-color: white;
  color: black;
  border-radius: 20%;
  opacity: 80%;
}
.input {
  margin-bottom: 2%;
}
.righty {
  margin-right: 2%;
}
#orderButtons {
  padding-top: 4rem;
}

#bigBurger2 {
  background-image: url(./assets/bigburger2.jpg);
  background-size: cover;
  border-radius: 40%;
}
#fries {
  background-image: url(./assets/fries.jpg);
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 2%;
}
#chickenburger {
  background-image: url(./assets/Chicken-Burgers.jpg);
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 2%;
}
#dah2 {
  margin: auto;
  width: 100%;
}
#bigBurger Img {
  width: 100%;
}
#textboxalign {
  margin-left: 12%;
}
body {
  margin: 0;
}
p {
  word-wrap: break-word;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 20px;
  margin-top: 20px;
  color: yellow;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  border-top: 1px solid #ddd;
  justify-content: center;
  list-style-type: none;
}

#listitems {
  display: flex;
}

.flexfooter {
  padding: 1rem;
}
