.nav {
  display: flex;
}
nav {
  background-color: black;
}
.Username {
  color: white;
  padding-left: 2rem;
}
.Link {
  margin: auto;
}
.flex {
  display: flex;
}
.landerlogo {
  height: 100%;
  width: 100%;
  margin: 0;
}
.landertext {
  margin: 0;
  color: white;
  padding-top: 10%;
  padding-bottom: 20%;
}
a {
  text-decoration: none;
  color: yellow;
}

body {
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 20px;
  margin-top: 20px;
  color: yellow;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  border-top: 1px solid #ddd;
  justify-content: center;
  list-style-type: none;

}
.landerlogo {
  display: grid;
  place-items: center;
  object-fit: fill;
  height: 100%;
}

#orderButtons {
  padding-top: 4rem;
}

.flexfooter {
  display:flex;
  flex-direction:row;
}
.listitems {
  display:flex;
  flex-direction: row;
}